@model RecoveryViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Recovery Password</title>
    <meta charset="utf-8" />
</head>
<body>
    @if (Model.IsExpired)
    {
        <h1>Sorry, your recovery link has expired.</h1>
        <p>Please request a new password recovery link.</p>
    }
    else
    {
        <h1>New password was sent to your email.</h1>
        <p>Check your inbox for further instructions.</p>
    }
</body>
</html>
