@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<main>
    <section class="hero-section">
        <div class="content">
            <h1>Old school. Respect. Challenge.</h1>
            <div class="subtext">Join us in the battle.</div>
            <div class="social-icons">
                <a href="https://store.steampowered.com" target="_blank">
                    <i class="fab fa-steam"></i>
                </a>
                <a href="https://play.google.com" target="_blank" class="icon-link">
                    <i class="fab fa-google-play"></i>
                </a>
                <a href="https://www.apple.com/app-store/" target="_blank" class="icon-link">
                    <i class="fab fa-apple"></i>
                </a>
                <a href="https://discord.com" target="_blank">
                    <i class="fab fa-telegram"></i>
                </a>
                <a href="https://discord.com" target="_blank">
                    <i class="fab fa-discord"></i>
                </a>
                <a href="https://discord.com" target="_blank">
                    <i class="fab fa-vk"></i>
                </a>
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <h1>We Create Unique Games</h1>
        <p>At Old Strategies Forge, we are passionate about creating immersive and innovative gaming experiences that capture the imagination of players worldwide.</p>
        <a href="#get-to-know-us" class="about-button">Get to know us</a>
    </section>


    <section id="games" class="games-section">
        <div class="game">
            <a href="game-page-url.html" class="game-link">
                <div class="game-content">
                    <img src="images/TacticalHeroes.webp" alt="Game 1">
                    <div class="game-info">
                        <h2>Tactical Heroes</h2>
                        <p>A turn-based game in the spirit of old heroes with an emphasis on PVP battles.</p>
                    </div>
                </div>
            </a>
            <div class="game-icons">
                <a href="https://store.steampowered.com" target="_blank" class="icon-link">
                    <i class="fab fa-steam"></i>
                </a>
                <a href="https://play.google.com" target="_blank" class="icon-link">
                    <i class="fab fa-google-play"></i>
                </a>
                <a href="https://www.apple.com/app-store/" target="_blank" class="icon-link">
                    <i class="fab fa-apple"></i>
                </a>
            </div>
        </div>
    </section>

    <section class="news-section">
        <div class="news-header">
            <h2>Latest news</h2>
            <a href="#">See all posts</a>
        </div>

        <div class="news-item">
            <img src="images/Hero.webp" alt="HoMM: Olden Era">
            <div class="news-content">
                <div class="news-tags">
                    <span class="tag">HoMM: Olden Era</span>
                </div>
                <h3>FAQ</h3>
                <p>Welcome to the Heroes of Might & Magic: Olden Era FAQ, where you’ll find answers to common questions about the game, features, and more!</p>
                <span class="news-date">August 30, 2024</span>
            </div>
        </div>

        <div class="news-item">
            <img src="images/Hero.webp" alt="New Heroes of Might & Magic">
            <div class="news-content">
                <div class="news-tags">
                    <span class="tag">HoMM: Olden Era</span>
                    <span class="tag blue-tag">Studio News</span>
                </div>
                <h3>A new Heroes of Might and Magic by Unfrozen is coming soon!</h3>
                <p>We are thrilled to announce that our project, Heroes of Might & Magic: Olden Era, the official prequel of HoMM, has been revealed at Gamescom 2024!</p>
                <span class="news-date">August 22, 2024</span>
            </div>
        </div>

        <div class="news-item">
            <img src="images/Hero.webp" alt="500k+ sold copies">
            <div class="news-content">
                <div class="news-tags">
                    <span class="tag blue-tag">Studio News</span>
                    <span class="tag">Iratus</span>
                </div>
                <h3>500k+</h3>
                <p>We’ve got some news for you, necromancers! As of today, we’ve exceeded the threshold of half a million copies of the Iratus: Lord of the Dead sold! Thank you!</p>
                <span class="news-date">May 07, 2024</span>
            </div>
        </div>
    </section>
</main>
