@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Account Confirmation</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>@Model your account has been successfully verified.</h1>
</body>
</html>
