<header>
    <div class="logo">
        <a asp-area="Public" asp-controller="Home" asp-action="Index">
            <img src="images/Logo.png" alt="Logo">
        </a>
    </div>
    <nav class="navigation">
        <ul>
            <li><a asp-area="Public" asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#games">Games</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
